* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}



.dot{
  display: inline;
  position:absolute;
  font-size:1.8rem;
  bottom:1rem;
  width: 100%;
  transform: translate(0%, 0);
  text-align: center;

  
  
}

.dot-items{
  color:#ffffff;
  text-shadow: 0px 0px 10px;
  padding:1rem;
  
}
.angle-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  font-size: 3rem;
  color: #ffffff;
  padding: 10px;
}
.angle-left{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  font-size: 3rem;

  padding: 10px;
}
.angle-item {
  color: #ffffff;
  text-shadow: 0px 0px 10px;
}

/*for desktop & tablet*/
@media screen and (min-width: 768px) {
  .dot{
    font-size:3rem;
  }
}
